/*
==============
heeader css
==============
*/

header {
  margin: 0 7rem 3rem;
  background-color: var(--bg-color-2);
  height: 7rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.content {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  font-family: var(--font-1);
}

.left {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 2rem;
}

.left:hover {
  cursor: pointer;
}

.center:hover {
  cursor: pointer;
}

.center {
  color: blue;
  font-size: 2.3rem;
}

@media screen and (max-width: 768px) {
  header {
    height: 6rem;
  }
  .content {
    padding: 1rem;
  }
  .left {
    font-size: 1.5rem;
  }
  .right {
    font-size: 1.7rem;
  }
}

.panelBody {
  margin: 0 7rem;
  margin-bottom: 3rem;
  padding: 1rem;
  /* background-color: lightgoldenrodyellow; */
}

.panelBodyContent {
  background-color: var(--bg-color-1);
  text-align: center;
}

.cartBody {
  background-color: whitesmoke;
  padding: 2rem 4rem;
  box-shadow: var(--medium-shadow);
  border-radius: var(--radius);
  /* height: auto; */
}

img {
  box-shadow: var(--light-shadow);
  height: 200px;
  width: 200px;
}

img:hover {
  cursor: pointer;
}

.rating {
  font-weight: 500;
  letter-spacing: var(--spacing);
  font-family: var(--font-2);
}

.counter {
  display: inline-flex;
  margin: 0 2rem;
  padding: 1.5rem;
  font-size: 2rem;
}

.fa-plus {
  margin-right: 0.5rem;
}

.fa-plus:hover {
  cursor: pointer;
}

.fa-minus {
  margin-left: 0.5rem;
}

.fa-minus:hover {
  cursor: pointer;
}

.inputCount {
  border: none;
  width: 50px;
  height: 30px;
  font-size: 2rem;
}

.badge {
  font-size: 2rem;
}

.fa-trash-o {
  color: var(--red);
  font-size: 2rem;
}

.fa-trash-o:hover {
  cursor: pointer;
}

.cart-total {
  padding: 1rem;
  background-color: var(--bg-color-2);
  border-radius: var(--radius);
}

#total {
  font-weight: 800;
  color: var(--dark-color-1);
}

.checkoutBtn {
  letter-spacing: var(--spacing);
  font-family: var(--font-3);
  text-transform: uppercase;
  color: var(--dark-color-1);
  font-weight: 700;
  font-size: 1.5rem;
}
